<!DOCTYPE html>
<html ng-app="WGLR">
<head>
  <title>WGLR</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <!-- // <script src="client/controllers.js"></script> -->
    <script src="client/app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</style>

</head>


<body ng-controller="appController">
  <nav>
  <ul class="nav nav-pills pull-right">
  </nav>
    <div class="bg"></div>
    <div class="jumbotron">
      <h2>Welcome to Wiggler</h2>
    <p class="lead">
    </div>





  <div class="container">


    <div class="col-sm-4 col-sm-offset-4 text-center">
      <form>
        <div>
          <input type="text" class="form-control input-lg text-center" placeholder="type in a zipcode" ng-model="zipCode">
        </div>

        <button type="submit" class="btn btn-primary btn-lg" ng-click="sendZipCode(zipCode)"> Get me to a roof </button>
      </form>
    </div>







    <br>
   </div>

    <div class="col-lg-6  text-center" >

    <!-- <div ng-view> </div> -->

<!--     <ul class="barList"> -->
    <!-- <div class="bars" ng-repeat="bar in list track by $index"> -->
<!--     <img ng-src="{{images.length}}"> -->
        <!-- <h1> {{ bar }} </h1> -->
        <!-- <h2> {{ barRating }} </h2> -->

      </div>
    </div>
  </li>
  </ul>


<div class="list" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="bar in list track by $index">

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          {{ bar }}
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
<!--     <div class="bs-example">
    <div class="bars" >
        <div class="panel panel-default" class="bars" ng-repeat="bar in list track by $index">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">{{ bar }}</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <p> detailed data <a href="" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div> -->
<!--         <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. What is Bootstrap?</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">3. What is CSS?</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
                </div>
            </div>
        </div>
    </div>
</div> -->







    </div>
    </ul>
    </div>


























     <script type="text/javascript">

      var jumboHeight = $('.jumbotron').outerHeight();

      function parallax(){
          var scrolled = $(window).scrollTop();
          $('.bg').css('height', (jumboHeight-scrolled) + 'px');
      }

      $(window).scroll(function(e){
          parallax();});
       </script>
</body>



</html>