.bg {
  background: url('https://jetsettimes.files.wordpress.com/2013/06/uptown-bar-dubai-united-arab-emirates1.jpeg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;

}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 5px 5px;
  background:transparent;
}

.list{
  margin: 130px;
}
.angular-google-map-container {
 height: 400px;
 width: 400px;
}


/*.h3 .jumbotron {
  position: fixed;
  right: 200px;
}
*/
/*
.title {

  position: fixed;
  left: 200px;
}*/


/*url('https://jetsettimes.files.wordpress.com/2013/06/uptown-bar-dubai-united-arab-emirates1.jpeg') no-repeat center center;url('https://jetsettimes.files.wordpress.com/2013/06/uptown-bar-dubai-united-arab-emirates1.jpeg') no-repeat center center;*/
